site_name: AMPLab Digital Twins
theme:
  name: material
  features:
    - content.code.copy
    - content.code.annotate
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - About EEG:
      - What is it?: about/about-eeg.md
      - Applications of EEG: about/eeg-applications.md
  - How to Use This Repo:
      - Current Workflow: repo/current-workflow.md
      - Steps to Reproduce Results: repo/repo-steps.md
      - What's Next: repo/whats-next.md
  - Generative Adversarial Networks (GANs): gans.md
  - Artifact Subspace Reconstruction (ASR): asr.md
  - Resources: resources.md

markdown_extensions:
  - pymdownx.betterem
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.blocks.caption
  - md_in_html
  - attr_list
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
